*{
    margin: 0;
    padding: 0;
}

#header{
    height: 100vh;
    background-image: url('../images/hot-pizza.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-transform:uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'arial';
}

header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

header nav{
    display: flex;
    flex:1 1 600px;
    justify-content: flex-end;
    margin-right: 40px;
    align-items: center;
}

header nav a{
    padding: 10px 20px;
    text-decoration: none;
    color:white;
    font-weight: 1000px;
    font-size:larger;
}

header .logo{
    width: 150px;
    height: 150px;
    flex: 0 1 150px;
    margin-left: 40px;
}

header .logo img{
    height: 150px;
    width: 150px;
}

.main{
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    justify-content: center;
}

.main h1{
    font-size: 5em;
    color:whitesmoke;
    padding: 50px;
}

.main h3{
    font-size:3em;
    color:aqua;
    padding-bottom:30px;
    font-weight: 400;
}

.main p{
    font-size: 2em;
    color:whitesmoke;
    font-weight: 100;
}

.button{
    width: 250px;
    padding:20px 15px;
    border:2px solid yellow;
    border-radius: 5px;
    margin-top: 40px;
    color:greenyellow;
    text-decoration: none;
}

.button:hover{
    background-color:greenyellow;
    border-color:greenyellow;
    transform: rotate(5deg);
    transition: all 0.2s ease-in-out;
}