*{
    margin: 0;
    padding: 20px;
}

#header{
    height: 100vh;
    background-image: url('../images/hot-pizza.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-transform:uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'arial';
}

header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

header nav{
    display: flex;
    flex:1 1 600px;
    justify-content: flex-end;
    margin-right: 40px;
    align-items: center;
}

header nav a{
    padding: 10px 20px;
    text-decoration: none;
    color:white;
    font-weight: 1000px;
    font-size:larger;
}

header .logo{
    width: 150px;
    height: 150px;
    flex: 0 1 150px;
    margin-left: 40px;
}

header .logo img{
    height: 150px;
    width: 150px;
}

.main{
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    justify-content: center;
}

.main h1{
    font-size: 5em;
    color:whitesmoke;
    padding: 50px;
}

.main h3{
    font-size:3em;
    color:aqua;
    padding-bottom:30px;
    font-weight: 400;
}

.main p{
    font-size: 2em;
    color:whitesmoke;
    font-weight: 100;
}

.button{
    width: 250px;
    padding:20px 15px;
    border:2px solid yellow;
    border-radius: 5px;
    margin-top: 40px;
    color:greenyellow;
    text-decoration: none;
}

.button:hover{
    background-color:greenyellow;
    border-color:greenyellow;
    transform: rotate(5deg);
    transition: all 0.2s ease-in-out;
}

.card-title{
    text-align: center;
    color: green;
    font-weight: 800;
    font-size: 2em;
}

.controls-top h2{
    color: rgb(5, 172, 5);
    padding-top: 40px;
    padding-bottom:20px;
    font-weight: bolder;
    text-align: center;
}

.col-md-4{
    border-radius: 10%;
    padding: 10px;
    margin-left: 100px;
    display: flex;

}

.order .row{
    padding:2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    border-radius: 5rem;

}

.order .row .image{
    flex:1 1 30rem;
}

.order .row .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;


}

.order .row form{
    flex:1 1 50rem;
    padding:1rem;
}

.order .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.order .row form .inputBox input, .order .row form textarea{
    padding:1rem ;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border:1rem solid rgba(0,0,0,.3);
    border-radius:.5rem;
    width: 49%;

}

.order .row form textarea{
    width:100%;
    resize:none;
    height:15rem;
}

.order .row form .btn{
    background:none;


}

.order .row form .btn:hover{
    background:var(--red);
}

.kichwa{
    align-items: center;
}



