*{
    margin: 0;
    padding: 0;
}

#header{
    height: 100vh;
    background-image: url('../images/download\ \(1\).jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    text-transform:uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'arial';
}

header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

header nav{
    display: flex;
    flex:1 1 600px;
    justify-content: flex-end;
    margin-right: 40px;
    align-items: center;
}

header nav a{
    padding: 10px 20px;
    text-decoration: none;
    color:white;
    font-weight: 1000px;
    font-size:larger;
}

header .logo{
    width: 150px;
    height: 150px;
    flex: 0 1 150px;
}

header .logo img{
    height: 150px;
    width: 150px;
}